<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YelpCamp</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="navbar-nav navbar-right">
<%
                if(currentUser){
%>
                <li class="nav-item"><a class="nav-link" href="/">Sign in as <%=currentUser.username%></a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
<%
                }else{
%>
                <li class="nav-item <%=typeof page !== 'undefined' && page === 'login' ? 'active' : ''%>"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item <%=typeof page !== 'undefined' && page === 'register' ? 'active' : ''%>"><a class="nav-link" href="/register">Signup</a></li>
<%
                }
%>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
<%
    if(error && error.length > 0) {
%>
    <div class="alert alert-danger" role="alert"><p><%=error %></p></div>
<%
    }
%>

<%
    if(success && success.length > 0) {
%>
    <div class="alert alert-success" role="alert"><p><%= success %></p></div>
<%
    }
%>